@font-face {
    font-family: Nanum;
    src: local('Nanum'), url('./nanumSquareR.ttf');
}
@font-face {
    font-family: Nanum;
    src: url('nanumSquareB.ttf');
    font-weight: bold;
}
@font-face {
    font-family: CircularBook;
    src: local('CircularBook'), url('./circularStd-Book.otf');
}
@font-face {
    font-family: CircularMedium;
    src: local('CircularMedium'), url('./circularStd-Medium.otf');
}
html, body {
    font-family: 'Nanum';
}